@using System
@using ClientDependency.Core.Mvc
@using Trillium.Controllers.SurfaceControllers
@using Trillium.Extensions
@using Trillium.ViewModels
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContactViewModel>
@{
    Layout = "";
    Model.SubmitDate = DateTime.Now;
    var formCompleted = TempData["FormCompleted"] != null;
}

@if (!formCompleted)
{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    using (Html.BeginUmbracoForm<ContactSurfaceController>("ContactUs", null, new { @class = "tf-form", @id = "contactForm" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    
        <div class="form-row">
            @Html.LabelFor(m => m.Name, "Name", new { @name = "nameLbl", @class = "form-lbl" })
            @Html.CustomTextBoxFor(m => m.Name, new { @class = "form-txt", placeholder = "Name" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>

        <div class="form-row">
            @Html.LabelFor(m => m.EmailAddress, "Email", new { @name = "emailLbl", @class = "form-lbl" })
            @Html.CustomTextBoxFor(m => m.EmailAddress, new { @class = "form-txt", placeholder = "Email address" })
            @Html.ValidationMessageFor(m => m.EmailAddress)
        </div>

        <div class="form-row">
            @Html.LabelFor(m => m.Subject, "Subject", new { @name = "subLbl", @class = "form-lbl" })
            @Html.CustomTextBoxFor(m => m.Subject, new { @class = "form-txt", placeholder = "Subject" })
            @Html.ValidationMessageFor(m => m.Subject)
        </div>

        <div class="form-row">
            @Html.LabelFor(m => m.Message, "Message", new { @name = "msgLbl", @class = "form-lbl" })
            @Html.CustomTextAreaFor(m => m.Message, new { @class = "form-txt", placeholder = "Message" })
            @Html.ValidationMessageFor(m => m.Message)
        </div>

        <div>
            @Html.TextBoxFor(m => m.Honeypot, new { @style = "position:absolute;left:-99999px;width:1px;height:1px;" })
            @Html.ValidationMessageFor(m => m.Honeypot)
            @Html.HiddenFor(m => m.SubmitDate)
        </div>

        <div class="form-row submit-row">
            <input type="submit" class="btn submit-btn" value="Send" />
        </div>

    }
}
else
{
    <p class="success">Thank you kindly for your message.  Our aim is to respond to your message as soon as possible.  We look forward to being in touch.</p>
}