@using ClientDependency.Core.Mvc
@using Trillium.Extensions
@using Trillium.ViewModels
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var settings = Umbraco.GetTypedNodeByAlias("AdminSettings");
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Umbraco.Field("metaTitle", altFieldAlias: "pageName")</title>
    <meta name="description" content="@Umbraco.Field("metaDescription")">
    <meta name="keywords" content="@Umbraco.Field("metaKeywords")">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Html.CanonicalUrl()
    @{Html.RenderPartial("RssLink", Umbraco.AssignedContentItem);}
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    @{Html.RenderPartial("StylesMain");}
    @Html.RenderCssHere()
    <script src="/bower_components/modernizr/modernizr.min.js"></script>
</head>
<body id="@Umbraco.Field("nodeTypeAlias")">
    <div id="skrollr-body">

        @*@Html.Partial("SearchBoxJson", new SearchResultsViewModel())*@
        <div class="wrapper">
            <header>
                <div class="tf-row">
                    @{
                        Html.RenderPartial("Navigation", Umbraco.AssignedContentItem);
                        Html.RenderPartial("ParallaxHeader", Umbraco.AssignedContentItem);
                    }
                </div>
            </header>

            @RenderBody()

            @if (!Request.Url.ToString().Contains("thank"))
            {
                <div class="tf-row bg-row rw-end">
                    <div class="block">
                        <section class="multi-col">
                            <div class="tf-row">
                                <div id="contact">
                                    <h1>Contact us</h1>
                                    <h2 class="subhead">Get in touch</h2>
                                    <p>Thank you kindly for visiting. Here you may leave any enquiry, ask us any question, or simply leave a comment.</p>
                                    <p>For partnership enquiries, please indicate the company and primary contact name.</p>
                                    @{
                Html.RenderAction("RenderContactForm", "ContactSurface");
                                    }
                                </div>
                                <div id="infoCol">
                                    <h2 class="subhead">Contact details</h2>
                                    @{
                var siteEmail = settings.GetPropertyValue("siteContactEmail") ?? "hello@trilliumfitness.co.uk";
                                    }
                                    <a href="mailto:@(siteEmail)" title="Send an email to hello@trilliumfitness.co.uk">@siteEmail</a><br />
                                    @Umbraco.Field("contactDetails", recursive: true, convertLineBreaks: true)
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            }
            else
            {
                <div class="tf-row bg-row rw-end">
                    <div class="block"></div>
                </div>
            }
            <div class="push"></div>
        </div>
        <footer>
            <p class="meta copyright">&copy;Trillium Fitness @DateTime.Now.Year</p>
        </footer>
        @{Html.RenderPartial("ScriptsMain");}

        @Html.RenderJsHere()

        @RenderSection("customScript", false)
        <!--[if lt IE 9]>
            <script src="/bower_components/html5shiv/dist/html5shiv.js"></script>
            <script src="/bower_components/skrollr-ie/dist/skrollr.ie.min.js"></script>
        <![endif]-->
        @Html.Raw(Umbraco.Field("pageTracking"))
        @{
            if (settings != null)
            {
                @Html.Raw(settings.GetPropertyValue("googleAnalytics"))
            }
        }
    </div>
</body>
</html>