@using Trillium.Extensions
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";
}
<div class="tf-row">
    <div class="block">
        <article>
            <h1>@Umbraco.Field("pageHeading", altFieldAlias: "pageName")</h1>
            @Umbraco.Field("subheading", insertBefore: "&lt;h2 class=&quot;subhead&quot;&gt;", insertAfter: "&lt;/h2&gt;")
            <div id="testimoMedia">
                <div class="tf-row">
                    <div class="client-img before">
                        @Model.Content.ImagesFor("beforeImage", 1)
                    </div>
                    <div class="client-img after">
                        @Model.Content.ImagesFor("afterImage", 1)
                    </div>
                </div>
                @{ Html.RenderPartial("SubsectionNav", Umbraco.AssignedContentItem); }
            </div>
            <section>
                <div class="testimo-qna info">
                    <h3>@Umbraco.Field("pageHeading", altFieldAlias: "pageName") - Personal information</h3>
                    @Umbraco.Field("bodyText")
                </div>
                @if (Model.Content.HasValue("achievementText"))
                {
                    <div class="testimo-qna achievement">
                        <h3>What are your greatest fitness accomplishments so far?</h3>
                        <p>@Html.Raw(library.ReplaceLineBreaks(Model.Content.GetPropertyValue<string>("achievementText")))</p>
                    </div>
                }
                @if (Model.Content.HasValue("praiseText"))
                {
                    <div class="testimo-qna praise">
                        <h3>What is the best part about working with Trillium?</h3>
                        <p>@Html.Raw(library.ReplaceLineBreaks(Model.Content.GetPropertyValue<string>("praiseText")))</p>
                    </div>
                }
            </section>

        </article>
    </div>
</div>